<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
<body>
    <div class="container">
        <div class="row mt-4">
            {% include 'sidebar.html' %}

            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2 class="text-xl font-semibold mb-6">Add Category</h2>
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                <strong class="font-bold">Error:</strong>
                                <span class="block sm:inline">{{ error }}</span>
                            </div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success" role="alert">
                                <strong class="font-bold">Success:</strong>
                                <span class="block sm:inline">{{ success }}</span>
                            </div>
                        {% endif %}
                        <form id="add_category_form" class="space-y-4" method="post">
                            <div class="row">
                                <div class="col">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="category_name" class="block text-sm font-medium text-gray-700">Category Name:</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" required="true" id="category_name" name="category_name" placeholder="Enter category name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="category_description" class="block text-sm font-medium text-gray-700">Category Description:</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <textarea required="true" id="category_description" name="category_description" placeholder="Enter category description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="category_order_number" class="block text-sm font-medium text-gray-700">Category order number</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input type="number" value=0 required='true' id="category_order_number" name="category_order_number"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <button type="submit" action="/add_feed" formmethod="post">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
