<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
    {% if success %}
        <meta http-equiv="refresh" content="{{ reload_time }};url=/reload_feed">
    {% endif %}
<body>
    <div class="container">
        <div class="row mt-4">
            {% include 'sidebar.html' %}
            {% if category %}
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>{{ category.name }}</h2>
                    </div>
                </div>
                <!-- Category Details -->
                <div class="row">
                    <div class="container">
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                <strong class="font-bold">Error:</strong>
                                <span class="block sm:inline">{{ error }}</span>
                            </div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success" role="alert">
                                <strong class="font-bold">Success:</strong>
                                <span class="block sm:inline">{{ success }}</span>
                            </div>
                        {% endif %}
                        <form method="post" id="update_category" action="/update_category" formmethod="post">
                            <div class="row">
                                <div class="col">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Category Name</td>
                                                <td>
                                                    {{ category.name }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Category Description</td>
                                                <td>
                                                    {{ category.description }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Category Order Number</td>
                                                <td>
                                                    {{ category.order_number }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Added
                                                </td>
                                                <td>
                                                    {{category.created_at.strftime('%Y-%m-%dT%H:%M:%S')}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Last Updated
                                                </td>
                                                <td>
                                                    {{ category.updated_at.strftime('%Y-%m-%dT%H:%M:%S') }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="/feeds?category={{ category.id }}">Feeds</a>
                                                </td>
                                                <td></td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <input type="hidden" name="category_id" value="{{ category.id }}">
                        </form>
                        <div class="row">
                            <div class="col">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p> Deleting this category will move all feeds associated to the Default category. </p>
                                       </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <form action="/delete_category_process" method="post">
                                                <input type="hidden" name="category_id" value="{{ category.id }}">
                                                <button type="submit">Delete</button>
                                            </form>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>Category not found</h2>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
