<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
<body>
    <div class="container">
        <div class="row mt-4">
            {% include 'sidebar.html' %}

            <div class="col">
                <div class="row">
                    <div class="col">
                        <a href="/feeds" class="no-highlight-link"><h2>Feeds</h2></a>
                    </div>
                    <div class="col-1">
                        <a href="/add_feed" class="no-highlight-link"><h2>+</h2></a>
                    </div>
                </div>
                <div class="row">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <strong class="font-bold">Error:</strong>
                            <span class="block sm:inline">{{ error }}</span>
                        </div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success" role="alert">
                            <strong class="font-bold">Success:</strong>
                            <span class="block sm:inline">{{ success }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="container">
                        <table class="table">
                            <!-- Table Header -->
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 15%">Feed Site</th>
                                    <th scope="col">Description</th>
                                    <th scope="col" style="width: 15%;">Category</th>
                                    <th scope="col" style="width: 5%;">Details</th>
                                    <th scope="col" style="width: 5%;">Delete</th>
                                </tr>
                            </thead>
                            <!-- Table Body -->
                            <form id="update_feeds" action="/update_feeds" method="post">
                                <tbody>
                                    {% for feed in feeds %}
                                    <tr>
                                        <td>
                                            <a href="{{ feed.site_url }}">
                                                <span>{{ feed.title | truncate(70) }}</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span>{{ feed.description }}</span>
                                        </td>
                                        <td>
                                            <select name="category_id_{{ feed.id }}" form="update_feeds">
                                                {% for category in categories %}
                                                    <option value="{{ category.id }}" {% if category.name == feed.category %} selected {% endif %}>{{ category.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <a href="/feed_details?feed_id={{ feed.id }}">Details</a>
                                        </td>
                                        <td>
                                            <a href="/delete_feed?feed_id={{ feed.id }}">Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </form>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                    </div>
                    <div class="col">
                        <button type="submit" form="update_feeds">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
