<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
<body>
    <div class="container">
        <div class="row mt-4">
            <!-- Sidebar -->
            {% include 'sidebar.html' %}

            <!-- Articles Section -->
            <div class="col">
                <div class="row">
                    <div class="col">
                        <a href="/feed" class="no-highlight-link"><h2>Articles | {{ category }} {% if list_name %} | {{ list_name }} {% endif %}</h2></a>
                    </div>
                    <div class="col-1">
                        <a href="/reload_feed" class="no-highlight-link"><h2>↻</h2></a>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <table class="table">
                            <!-- Table Header -->
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col" style="width: 5%;">Bookmark</th>
                                    <th scope="col" style="width: 15%;">Published Date</th>
                                    <th scope="col" style="width: 15%;">Feed Name</th>
                                </tr>
                            </thead>
                            <!-- Table Body -->
                            <tbody>
                                {% for article in articles %}
                                <tr class="{% if article.read_at %} read-item {% else %} unread-item {% endif %}">
                                    <td>
                                        <a href="/redirect?article_id={{ article.id }}&url={{ article.link }}">
                                            <span>{{ article.title | truncate(70) }}</span>
                                        </a>
                                    </td>
                                    <td>
                                        <form action="/bookmark" method="post">
                                            <input type="hidden" name="article_id" value="{{ article.id }}">
                                            <button class="star-button {% if article.bookmarked %}bookmarked{% endif %}" type="submit" name="bookmark" value="star">&#9733;</button>
                                        </form>
                                    </td>
                                    <td>
                                        <span>{{ article.published_at.strftime('%Y-%m-%d') }}</span>
                                    </td>
                                    <td>
                                        <span>{{ article.feed_name }}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Pagination -->
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <nav aria-label="Page navigation">
                                  <ul class="pagination">
                                    {% set prev_page = page - 1 %}
                                    {% set next_page = page + 1 %}

                                    <!-- Previous Page Link -->
                                    <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                                        <a class="page-link" href="/feed?page={{ prev_page }}&per_page={{ per_page }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                      </a>
                                    </li>

                                    <!-- Always show first page if not on first two pages -->
                                    {% if page > 3 and total_pages > 3 %}
                                      <li class="page-item">
                                          <a class="page-link" href="/feed?page=1&per_page={{ per_page }}">1</a>
                                      </li>
                                      <li class="page-item disabled">
                                        <span class="page-link">...</span>
                                      </li>
                                    {% endif %}

                                    <!-- Current, previous and next page numbers -->
                                    {% for i in range(page - 1, page + 2) %}
                                      {% if i > 0 and i <= total_pages %}
                                        <li class="page-item {% if i == page %}active{% endif %}">
                                            <a class="page-link" href="/feed?page={{ i }}&per_page={{ per_page }}">{{ i }}</a>
                                        </li>
                                      {% endif %}
                                    {% endfor %}

                                    <!-- Show ellipsis and last page if not on the last three pages -->
                                    {% if page < total_pages - 2 %}
                                      <li class="page-item disabled">
                                        <span class="page-link">...</span>
                                      </li>
                                      <li class="page-item">
                                          <a class="page-link" href="/feed?page={{ total_pages }}&per_page={{ per_page }}">{{ total_pages }}</a>
                                      </li>
                                    {% endif %}

                                    <!-- Next Page Link -->
                                    <li class="page-item {% if page >= total_pages %}disabled{% endif %}">
                                        <a class="page-link" href="/feed?page={{ next_page }}&per_page={{ per_page }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                      </a>
                                    </li>
                                  </ul>
                                </nav>
                            </div>
                            <div class="col-3">
                                <div class="container">
                                    <form method="post">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="articlesPerPage" class="form-label">Per page:</label>
                                                    </div>
                                                    <div class="col-5">
                                                        <input
                                                            type="number"
                                                            id="articlesPerPage"
                                                            class="form-control per-page-input form-control-sm"
                                                            name="per_page"
                                                            value="{{ per_page }}"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <button type="submit" action="/feed" formmethod="get" >Change</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Last Updated: {{ last_updated.strftime('%Y-%m-%d %H:%M') if last_updated else 'Not Yet' }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
