<div class="col-2">
    <div class="container">
        <div class="row">
            <a href="/feed" class="no-highlight-link"><h2>QuickFeed</h2></a>
        </div>
        <div class="row">
            <div class="col">
                <h4><a href="/feeds" class="no-highlight-link">All Feeds</a></h4>
            </div>
            <div class="col-1">
                <h4><a href="/add_feed" class="no-highlight-link">+</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="container">
                {% for category_name, category_feeds in sidebar.categories %}
                    <div class="row">
                        <div class="col">
                            <a href="/feed/{{ category_name }}" class="no-highlight-link">
                                <h4>{{ category_name }}</h4>
                            </a>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                    {% for feed in category_feeds %}
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col">
                                <a href="/feed_details?feed_id={{ feed.id }}">
                                    <span>{{ feed.title }}</span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="row mt-4 pt-2 border-top">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="/bookmarks" class="no-highlight-link">
                                    <h5>Bookmarks</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1 pt-2 border-top">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="/categories" class="no-highlight-link">
                                    <h5>Categories</h5>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="/add_category" class="no-highlight-link">
                                    <p>Add Category</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

